@model IEnumerable<a2_s3673712_s3719368.Areas.Admin.Models.TransactionDto>

@{
    ViewData["Title"] = "Transaction List";
}
<h1>Transaction List</h1>

<br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionTimeUtc)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationAccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionTimeUtc)
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="text-align: center">
    <canvas id="barcanvas"></canvas>
</div>

<script>
        
var ctx = document.getElementById('barcanvas').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    title:  
      {  
       display: true,  
       text: "Total Money of Transaction in Months"  
      },  
    data: {
        labels: [@Html.Raw(ViewBag.MonthsLabel)],
        datasets: [{
            label: '# of dollar Transactions',
            data: [@ViewBag.Data],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>  