@model IEnumerable<a2_s3673712_s3719368.Areas.Admin.Models.BillPayDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer information Mangement</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.BillPayID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BillPayID">Details</a> |
                    <a asp-action="Lock" asp-route-id="@item.BillPayID">Lock</a> |
                    <a asp-action="Delete" asp-route-id="@item.BillPayID">Delete</a> |

                </td>
            </tr>
        }
    </tbody>
</table>