@model IEnumerable<a2_s3673712_s3719368.Areas.Admin.Models.BillPayDto>

@{
    ViewData["Title"] = "Index";
}
<h1>Schedule BillPay Management</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++) 
        {
            var item = Model.ElementAt(i);
            var customSwitchID = "toggle_" + i;
            var customFormID = "Form_" + i;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>
                <td>
                    @if (!item.Block)
                    {
                        <a>Unblocked</a>
                    }
                    else
                    {
                        <a>Blocked</a>}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>

                <td>

                    <form asp-action="ChangeStatus" asp-route-id="@item.BillPayID" id="@customFormID">
                        <div class="custom-control custom-switch" onclick="checkChanged('@customSwitchID', '@customFormID')">
                            <input type="checkbox" class="custom-control-input" id="@customSwitchID" name="status" checked="@(item.Block)">
                            <label class="custom-control-label" for="customSwitch1">Toggle on to Block</label>
                        </div>
                    </form>
                
                </td>
            </tr>

        }
    </tbody>
</table>

