@model BillPay

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BillPay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillPayID" />
            <input type="hidden" asp-for="AccountNumber" />
            <input type="hidden" asp-for="ModifyDate" value="@ViewBag.ModifyDate" />
            <div class="form-group">
                <label asp-for="PayeeID" class="control-label"></label>
                <select asp-for="PayeeID" class="form-control">
                    @foreach (Payee Payee in ViewBag.Payees)
                    {

                        <option value="@Payee.PayeeID" data-val="true">@Payee.PayeeID.ToString() @Payee.PayeeName</option>
                    }
                </select>
                <span asp-validation-for="PayeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" data-val="true" data-val-number="The field Amount must be a number."
                       data-val-required="The Amount field is required." />
                <span asp-validation-for="Amount" class="text-danger"></span>
                @Html.ValidationMessage("Amount", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="ScheduleDate" class="control-label"></label>
                <input asp-for="ScheduleDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="ScheduleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <select asp-for="Period" class="form-control">
                    <option value="@Period.Monthly">@Period.Monthly.ToString()</option>
                    <option value="@Period.Quarterly">@Period.Quarterly.ToString()</option>
                    <option value="@Period.Annually">@Period.Annually.ToString()</option>
                    <option value="@Period.Once_off">@Period.Once_off.ToString()</option>
                </select>
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}